<!DOCTYPE html>
<html lang="{{App.Language}}">
<head>
	<meta charset="UTF-8">
	<title> {{App.Title}} </title>
</head>

<body>
	<div id="exception-report-{{Error.ID}}" class="exception-report">
		
		<div class="header">
			<h1> {{App.Title}} </h1>				 
		</div>
	
		<div class="content">		
			<table class="fields">
				<tr class="app-name">
					<td> Application: </td>
					<td> {{App.Name}} </td>
				</tr>
				<tr class="app-version">
					<td> Version: </td>
					<td> {{App.Version}} </td>
				</tr>
				<tr class="app-region">
					<td> Region: </td>
					<td> {{App.Region}} </td>
				</tr>
				{{#if App.User}}
				<tr class="app-user">
					<td> User: </td>
					<td> {{App.User}} </td>
				</tr>
				{{/if}}
				<tr class="error-date">
					<td> Date: </td>
					<td> {{Error.Date}} </td>
				</tr>
				<tr class="error-time">
					<td> Time: </td>
					<td> {{Error.Time}} </td>
				</tr>
				{{#if Error.Explanation}}
				<tr class="error-explanation">
					<td> User Explanation: </td>
					<td> {{Error.Explanation}} </td>
				</tr>
				{{/if}}
				<tr class="error-message">
					<td> Error Message: </td>
					<td> {{Error.Message}} </td>
				</tr>
			</table>
			
			<div class="full-stack-trace">				
				<h2> Stack Traces </h2>
				<textarea title="Stack Trace" id="full-stack-trace" readonly style="min-width: 400px; min-height: 300px"> 
					{{Error.FullStackTrace}} 
				</textarea>
			</div>
	
			<div class="assembly-refs">
				<h2> Assembly References </h2>
				<ul>
				{{#App.AssemblyRefs}}
					<li> {{Name}}, Version={{Version}} </li>
				{{/App.AssemblyRefs}}
				</ul>
			</div>
	
			<div class="system-info">
				<h2> System Information </h2>
				<textarea title="System Information" id="system-info-string"class="system-info-string" readonly style="min-width: 400px; min-height: 300px"> 
					{{SystemInfo}} 
				</textarea>
			</div>
	</div>
</div>
</body>
</html>