<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Krypton.Toolkit.Suite.Extended.Settings.Settings.Specialised_Dialogs.SpecialisedDialogBooleanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Krypton.Toolkit.Suite.Extended.Settings.Settings.Globals.GlobalTypefaceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Krypton.Toolkit.Suite.Extended.Settings.Settings.Specialised_Dialogs.SpecialisedDialogBooleanSettings>
            <setting name="IsRunDialogUACShieldShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLocateButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRunButtonDropDown" serializeAs="String">
                <value>True</value>
            </setting>
        </Krypton.Toolkit.Suite.Extended.Settings.Settings.Specialised_Dialogs.SpecialisedDialogBooleanSettings>
        <Krypton.Toolkit.Suite.Extended.Settings.Settings.Globals.GlobalTypefaceSettings>
            <setting name="BoldTypeface" serializeAs="String">
                <value>Segoe UI, 8.25pt, style=Bold</value>
            </setting>
            <setting name="CueTypeface" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="NormalTypeface" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="MessageBoxButtonsTypeface" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="MessageBoxContentTypeface" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
        </Krypton.Toolkit.Suite.Extended.Settings.Settings.Globals.GlobalTypefaceSettings>
    </userSettings>
</configuration>