<!DOCTYPE html>
<html>
<head>
    <title>{{App.Title}}</title>
</head>
<body>

    <h1 id="app.title">{{App.Title}}</h1>
<p><strong>Application</strong>: {{App.Name}}<br />
<strong>Version</strong>:     {{App.Version}}<br />
<strong>Region</strong>:      {{App.Region}}<br />
{{#if App.User}}
<strong>User</strong>:        {{App.User}}<br />
{{/if}}<br />
<strong>Date</strong>: {{Error.Date}}<br />
<strong>Time</strong>: {{Error.Time}}<br />
{{#if Error.Explanation}}
<strong>User Explanation</strong>: {{Error.Explanation}}<br />
{{/if}}</p>
<p><strong>Error Message</strong>: {{Error.Message}}</p>
<h2 id="stack-traces">Stack Traces</h2>
<pre><code class="language-text">{{Error.FullStackTrace}} 
</code></pre>
<h2 id="assembly-references">Assembly References</h2>
<p>{{#App.AssemblyRefs}}</p>
<ul>
<li>{{Name}}, Version={{Version}}<br />
{{/App.AssemblyRefs}}</li>
</ul>
<h2 id="system-info">System Info</h2>
<pre><code class="language-test">{{SystemInfo}}
</code></pre>


</body>
</html>