# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
# root = true

# All files
[*]
indent_size = 4
indent_style = space
# IDE0011: Add braces
csharp_prefer_braces = true


# Xml files
[*.cs]
# CA1003	Remove 'CollapsedEventHandler' and replace its usage with a generic EventHandler, for example EventHandler<T>, where T is a valid EventArgs	Krypton.Toolkit.Suite.Extended.TreeGridView 2019	Z:\source\repos\Ocelot\PlanApproval_Desktop\ThirdParty\Krypton.Toolkit.Suite.Extended.TreeGridView\Events\CollapsedEventHandler.cs	11	Active
dotnet_diagnostic.CA1003.severity = suggestion

dotnet_code_quality.CA1711.allowed_suffixes = EventArgs|EventHandler

# Events should not have 'Before' or 'After' prefix	
dotnet_code_quality.CA1713.allowed_suffixes = Before|After
dotnet_code_quality.CA1713.allowed_prefixes = Before|After
dotnet_code_quality.CA1713.severity = none


# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = none

# IDE0027: Use expression body for accessors
dotnet_diagnostic.IDE0027.severity = suggestion

# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = suggestion

# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = suggestion

# Disposable types should declare finalizer
dotnet_diagnostic.CA2216.severity = none

