<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Krypton.Toolkit.Suite.Extended.Outlook.Grid.Settings.Language.LanguageDefaultNeutralStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Krypton.Toolkit.Suite.Extended.Outlook.Grid.Settings.Language.LanguageStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Krypton.Toolkit.Suite.Extended.Outlook.Grid.Settings.Language.LanguageDefaultNeutralStringSettings>
            <setting name="AfterNextMonth" serializeAs="String">
                <value>After next month</value>
            </setting>
            <setting name="AlphabeticGroupText" serializeAs="String">
                <value>Alphabetic</value>
            </setting>
            <setting name="Bar" serializeAs="String">
                <value>Data Bars</value>
            </setting>
            <setting name="BeforePreviousMonth" serializeAs="String">
                <value>Before previous month</value>
            </setting>
            <setting name="BestFit" serializeAs="String">
                <value>Best fit</value>
            </setting>
            <setting name="BestFitAll" serializeAs="String">
                <value>Best fit (all columns)</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>Cancel</value>
            </setting>
            <setting name="ClearGrouping" serializeAs="String">
                <value>Clear grouping</value>
            </setting>
            <setting name="ClearRules" serializeAs="String">
                <value>Clear rules...</value>
            </setting>
            <setting name="ClearSorting" serializeAs="String">
                <value>Clear sorting</value>
            </setting>
            <setting name="Collapse" serializeAs="String">
                <value>Collapse</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>Columns</value>
            </setting>
            <setting name="ConditionalFormatting" serializeAs="String">
                <value>Conditional formatting</value>
            </setting>
            <setting name="CustomThreeDots" serializeAs="String">
                <value>Custom...</value>
            </setting>
            <setting name="DateGroupText" serializeAs="String">
                <value>Date</value>
            </setting>
            <setting name="Day" serializeAs="String">
                <value>Day</value>
            </setting>
            <setting name="DragColumnToGroup" serializeAs="String">
                <value>Drag a column header here to group by that column</value>
            </setting>
            <setting name="EarlierDuringThisMonth" serializeAs="String">
                <value>Earlier during this month</value>
            </setting>
            <setting name="EarlierThisYear" serializeAs="String">
                <value>Earlier this year</value>
            </setting>
            <setting name="Expand" serializeAs="String">
                <value>Expand</value>
            </setting>
            <setting name="Finish" serializeAs="String">
                <value>Finish</value>
            </setting>
            <setting name="FullCollapse" serializeAs="String">
                <value>Full collapse</value>
            </setting>
            <setting name="FullExpand" serializeAs="String">
                <value>Full expand</value>
            </setting>
            <setting name="GradientFill" serializeAs="String">
                <value>Gradient Fill</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>Group by this column</value>
            </setting>
            <setting name="GroupInterval" serializeAs="String">
                <value>Group interval</value>
            </setting>
            <setting name="HideGroupBox" serializeAs="String">
                <value>Hide GroupBox</value>
            </setting>
            <setting name="InThreeWeeks" serializeAs="String">
                <value>In three weeks</value>
            </setting>
            <setting name="InTwoWeeks" serializeAs="String">
                <value>In two weeks</value>
            </setting>
            <setting name="LaterDuringThisMonth" serializeAs="String">
                <value>Later during this month</value>
            </setting>
            <setting name="Month" serializeAs="String">
                <value>Month</value>
            </setting>
            <setting name="NextMonth" serializeAs="String">
                <value>Next month</value>
            </setting>
            <setting name="NextWeek" serializeAs="String">
                <value>Next Week</value>
            </setting>
            <setting name="NoDate" serializeAs="String">
                <value>No date</value>
            </setting>
            <setting name="Older" serializeAs="String">
                <value>Older</value>
            </setting>
            <setting name="OneItem" serializeAs="String">
                <value>1 item</value>
            </setting>
            <setting name="Other" serializeAs="String">
                <value>Other</value>
            </setting>
            <setting name="PaletteCustom" serializeAs="String">
                <value>Custom...</value>
            </setting>
            <setting name="PaletteCustomHeading" serializeAs="String">
                <value>Custom palettes</value>
            </setting>
            <setting name="PreviousMonth" serializeAs="String">
                <value>Previous month</value>
            </setting>
            <setting name="PreviousWeek" serializeAs="String">
                <value>Previous week</value>
            </setting>
            <setting name="PreviousYear" serializeAs="String">
                <value>Previous year</value>
            </setting>
            <setting name="Q1" serializeAs="String">
                <value>Q1</value>
            </setting>
            <setting name="Q2" serializeAs="String">
                <value>Q2</value>
            </setting>
            <setting name="Q3" serializeAs="String">
                <value>Q3</value>
            </setting>
            <setting name="Q4" serializeAs="String">
                <value>Q4</value>
            </setting>
            <setting name="Quarter" serializeAs="String">
                <value>Quarter</value>
            </setting>
            <setting name="ShowGroupBox" serializeAs="String">
                <value>Show GroupBox</value>
            </setting>
            <setting name="Smart" serializeAs="String">
                <value>Smart</value>
            </setting>
            <setting name="SolidFill" serializeAs="String">
                <value>Solid Fill</value>
            </setting>
            <setting name="SortAscending" serializeAs="String">
                <value>Sort ascending</value>
            </setting>
            <setting name="SortBySummaryCount" serializeAs="String">
                <value>Sort by summary count</value>
            </setting>
            <setting name="SortDescending" serializeAs="String">
                <value>Sort descending</value>
            </setting>
            <setting name="ThreeColorsRange" serializeAs="String">
                <value>Three Color Scale</value>
            </setting>
            <setting name="ThreeWeeksAgo" serializeAs="String">
                <value>Three weeks ago</value>
            </setting>
            <setting name="Today" serializeAs="String">
                <value>Today</value>
            </setting>
            <setting name="Tomorrow" serializeAs="String">
                <value>Tomorrow</value>
            </setting>
            <setting name="TwoColorsRange" serializeAs="String">
                <value>Two Color Scale</value>
            </setting>
            <setting name="TwoWeeksAgo" serializeAs="String">
                <value>Two weeks ago</value>
            </setting>
            <setting name="Ungroup" serializeAs="String">
                <value>Ungroup</value>
            </setting>
            <setting name="Unknown" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="XXXItems" serializeAs="String">
                <value> items</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>Year</value>
            </setting>
            <setting name="YearGroupText" serializeAs="String">
                <value>Year</value>
            </setting>
            <setting name="Yesterday" serializeAs="String">
                <value>Yesterday</value>
            </setting>
        </Krypton.Toolkit.Suite.Extended.Outlook.Grid.Settings.Language.LanguageDefaultNeutralStringSettings>
        <Krypton.Toolkit.Suite.Extended.Outlook.Grid.Settings.Language.LanguageStringSettings>
            <setting name="AfterNextMonth" serializeAs="String">
                <value>After next month</value>
            </setting>
            <setting name="AlphabeticGroupText" serializeAs="String">
                <value>Alphabetic</value>
            </setting>
            <setting name="Bar" serializeAs="String">
                <value>Data Bars</value>
            </setting>
            <setting name="BeforePreviousMonth" serializeAs="String">
                <value>Before previous month</value>
            </setting>
            <setting name="BestFit" serializeAs="String">
                <value>Best fit</value>
            </setting>
            <setting name="BestFitAll" serializeAs="String">
                <value>Best fit (all columns)</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>Cancel</value>
            </setting>
            <setting name="ClearGrouping" serializeAs="String">
                <value>Clear grouping</value>
            </setting>
            <setting name="ClearRules" serializeAs="String">
                <value>Clear rules...</value>
            </setting>
            <setting name="ClearSorting" serializeAs="String">
                <value>Clear sorting</value>
            </setting>
            <setting name="Collapse" serializeAs="String">
                <value>Collapse</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>Columns</value>
            </setting>
            <setting name="ConditionalFormatting" serializeAs="String">
                <value>Conditional formatting</value>
            </setting>
            <setting name="CustomThreeDots" serializeAs="String">
                <value>Custom...</value>
            </setting>
            <setting name="DateGroupText" serializeAs="String">
                <value>Date</value>
            </setting>
            <setting name="Day" serializeAs="String">
                <value>Day</value>
            </setting>
            <setting name="DragColumnToGroup" serializeAs="String">
                <value>Drag a column header here to group by that column</value>
            </setting>
            <setting name="EarlierDuringThisMonth" serializeAs="String">
                <value>Earlier during this month</value>
            </setting>
            <setting name="EarlierThisYear" serializeAs="String">
                <value>Earlier this year</value>
            </setting>
            <setting name="Expand" serializeAs="String">
                <value>Expand</value>
            </setting>
            <setting name="Finish" serializeAs="String">
                <value>Finish</value>
            </setting>
            <setting name="FullCollapse" serializeAs="String">
                <value>Full collapse</value>
            </setting>
            <setting name="FullExpand" serializeAs="String">
                <value>Full expand</value>
            </setting>
            <setting name="GradientFill" serializeAs="String">
                <value>Gradient Fill</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>Group by this column</value>
            </setting>
            <setting name="GroupInterval" serializeAs="String">
                <value>Group interval</value>
            </setting>
            <setting name="HideGroupBox" serializeAs="String">
                <value>Hide GroupBox</value>
            </setting>
            <setting name="InThreeWeeks" serializeAs="String">
                <value>In three weeks</value>
            </setting>
            <setting name="InTwoWeeks" serializeAs="String">
                <value>In two weeks</value>
            </setting>
            <setting name="LaterDuringThisMonth" serializeAs="String">
                <value>Later during this month</value>
            </setting>
            <setting name="Month" serializeAs="String">
                <value>Month</value>
            </setting>
            <setting name="NextMonth" serializeAs="String">
                <value>Next month</value>
            </setting>
            <setting name="NextWeek" serializeAs="String">
                <value>Next Week</value>
            </setting>
            <setting name="NoDate" serializeAs="String">
                <value>No date</value>
            </setting>
            <setting name="Older" serializeAs="String">
                <value>Older</value>
            </setting>
            <setting name="OneItem" serializeAs="String">
                <value>1 item</value>
            </setting>
            <setting name="Other" serializeAs="String">
                <value>Other</value>
            </setting>
            <setting name="PaletteCustom" serializeAs="String">
                <value>Custom...</value>
            </setting>
            <setting name="PaletteCustomHeading" serializeAs="String">
                <value>Custom palettes</value>
            </setting>
            <setting name="PreviousMonth" serializeAs="String">
                <value>Previous month</value>
            </setting>
            <setting name="PreviousWeek" serializeAs="String">
                <value>Previous week</value>
            </setting>
            <setting name="PreviousYear" serializeAs="String">
                <value>Previous year</value>
            </setting>
            <setting name="Q1" serializeAs="String">
                <value>Q1</value>
            </setting>
            <setting name="Q2" serializeAs="String">
                <value>Q2</value>
            </setting>
            <setting name="Q3" serializeAs="String">
                <value>Q3</value>
            </setting>
            <setting name="Q4" serializeAs="String">
                <value>Q4</value>
            </setting>
            <setting name="Quarter" serializeAs="String">
                <value>Quarter</value>
            </setting>
            <setting name="ShowGroupBox" serializeAs="String">
                <value>Show GroupBox</value>
            </setting>
            <setting name="Smart" serializeAs="String">
                <value>Smart</value>
            </setting>
            <setting name="SolidFill" serializeAs="String">
                <value>Solid Fill</value>
            </setting>
            <setting name="SortAscending" serializeAs="String">
                <value>Sort ascending</value>
            </setting>
            <setting name="SortBySummaryCount" serializeAs="String">
                <value>Sort by summary count</value>
            </setting>
            <setting name="SortDescending" serializeAs="String">
                <value>Sort descending</value>
            </setting>
            <setting name="ThreeColorsRange" serializeAs="String">
                <value>Three Color Scale</value>
            </setting>
            <setting name="ThreeWeeksAgo" serializeAs="String">
                <value>Three weeks ago</value>
            </setting>
            <setting name="Today" serializeAs="String">
                <value>Today</value>
            </setting>
            <setting name="Tomorrow" serializeAs="String">
                <value>Tomorrow</value>
            </setting>
            <setting name="TwoColorsRange" serializeAs="String">
                <value>Two Color Scale</value>
            </setting>
            <setting name="TwoWeeksAgo" serializeAs="String">
                <value>Two weeks ago</value>
            </setting>
            <setting name="Ungroup" serializeAs="String">
                <value>Ungroup</value>
            </setting>
            <setting name="Unknown" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="XXXItems" serializeAs="String">
                <value> items</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>Year</value>
            </setting>
            <setting name="YearGroupText" serializeAs="String">
                <value>Year</value>
            </setting>
            <setting name="Yesterday" serializeAs="String">
                <value>Yesterday</value>
            </setting>
        </Krypton.Toolkit.Suite.Extended.Outlook.Grid.Settings.Language.LanguageStringSettings>
    </userSettings>
</configuration>